<!--Módulo de la págna de notas.component donde se establece un formulario para que el usuario introduzca los datos para crear una nueva nota-->
<div class="form-wrapper">
<form (ngSubmit)="onSubmit()" class="nota-form"> 
  <!--Al clickar en el botón Crear, se ejecuta el método onSubmit en el componente fr notas-form-->

  <mat-form-field appearance="fill">
  <input matInput [(ngModel)]="nota.titulo" name="titulo" placeholder="Título" required /> <!--Título de la nota-->
  </mat-form-field>
  
  <mat-form-field appearance="fill">
    <textarea matInput [(ngModel)]="nota.descripcion" name="descripcion" placeholder="Descripción"></textarea> <!--Descripcción de la nota-->
  </mat-form-field>

  <div class="toggle-container">
  <mat-button-toggle-group
  name="estado"
  [(ngModel)]="nota.estado"
  aria-label="Estado"
>
  <mat-button-toggle value="pendiente">Pendiente</mat-button-toggle>
  <mat-button-toggle value="progreso">En progreso</mat-button-toggle>
  <mat-button-toggle value="completada">Completada</mat-button-toggle>
</mat-button-toggle-group>
</div>

  <button mat-raised-button color="primary" type="submit">   {{ data ? 'Actualizar' : 'Crear' }} </button> 
</form>
</div>